/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    min-height: 100vh;
}

/* Center the container vertically and horizontally */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the logo */
.logo img {
    max-width: 70%;
    width: auto;
    margin: auto;
    display: block;
    height: 100%;
}

/* Center the radio buttons */
.center-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the button */
form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

/* Style the copyright text */
footer p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

/* Sticky footer */
footer {
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
}

a {
    color: #9db6f1;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}

a:hover {
    color: #457DFB;
    right: 0;
    text-decoration: none;
}

a:hover:after {
    border-color: #457DFB;
    right: 0;
}

a:after {
    border-radius: 1em;
    border-top: .1em solid #c1d2f8;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1),
        border-color .4s ease-out;
}

a:hover:after {
    animation: anchor-underline 2s cubic-bezier(0, .5, 0, 1) infinite;
    border-color: #457DFB;
}

@keyframes anchor-underline {

    0%,
    10% {
        left: 0;
        right: 100%;
    }

    40%,
    60% {
        left: 0;
        right: 0;
    }

    90%,
    100% {
        left: 100%;
        right: 0;
    }
}


.lien {
    color: white;
    position: relative;
    left: 0;
    font-size: xx-large;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}